# Unreal Engine files
Saved/
Intermediate/
Binaries/
Build/
DerivedDataCache/

# Visual Studio files
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vs/

# macOS specific files
.DS_Store
*.xcworkspace/
xcuserdata/

# Ignore the following folders for blueprints if needed
# Content/*/Blueprints/*_BuiltData.uasset

# Debugging
*.pdb
